PROJECT_ID=
SERVICE_ACCOUNT=
GOOGLE_APPLICATION_CREDENTIALS=
PRODUCTION_DATABASE_HOST=
DATABASE_USER=
DATABASE_NAME=
FLUSH_TIMEOUT=5s
SHUTDOWN_FLUSH_TIMEOUT=10s
SENTRY_DSN=
WEBSOCKET_DATA_STREAMS=significant-trades
SIGNIFICANT_TRADE_FILTER=1000
BINANCE_SYMBOLS=BTCUSDT
BINANCE_FUTURES_SYMBOLS=BTCUSDT
BITFINEX_SYMBOLS=tBTCF0:USTF0
BITMEX_SYMBOLS=XBTUSD
COINBASE_SYMBOLS=BTC-USD
HYPERLIQUID_SYMBOLS=BTC
