PROJECT_ID=
SERVICE_ACCOUNT=
GOOGLE_APPLICATION_CREDENTIALS=
SENTRY_DSN=
PUBLISH_STREAMS=significant-trades
SIGNIFICANT_TRADE_FILTER=1000
BINANCE_SYMBOLS=BTCUSDT
BINANCE_FUTURES_SYMBOLS=BTCUSDT
BITFINEX_SYMBOLS=tBTCF0:USTF0
BITMEX_SYMBOLS=XBTUSD
COINBASE_SYMBOLS=BTC-USD
HYPERLIQUID_SYMBOLS=BTC
